@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700;900&family=Inter:wght@400;500;600&family=Montserrat:wght@800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #191715;
    --foreground: #AFA9A4;
    --card: #111111;
    --card-foreground: #FFFFFF;
    --primary: #FF5E00;
    --primary-foreground: #FFFFFF;
    --muted-foreground: #AFA9A4;
    --input: #332F2C;
    --ring: #FF5E00;
  }
  body {
    @apply bg-brand-bg-primary text-brand-text-medium font-body antialiased;
  }

  h1, h2, h3, h4 {
    @apply font-heading uppercase text-brand-text-high tracking-tight;
  }
}
